table {
  width: 100%;
}

.manager-list__add-manager-button {
    margin: 30px 30px 0;
}

.manager_list_content {
    margin: 30px;
}

.manager-list__option-button {
    margin-right: 3px;
}

.manager-list__footer {
    padding: 15px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-cell {
    padding: 0 5px;
}
